<ng-content select="header"></ng-content>

<!-- Angular Expression -->
<h1>{{ user.firstName }} {{ user.lastName }}</h1>
<!-- Property Binding -->
<p>Income : <span [innerHTML]="user.income"></span></p>
<p>Date of Birth : {{ user.dob }}</p>
<p><ng-content select=".my-content"></ng-content></p>
<p>
  Total Votes : {{ user.votes }}
  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.votes" />
</p>


<ng-content select="footer"></ng-content>
