<!-- <ng-content select="header"></ng-content> -->

<!-- Angular Expression -->
<h1>{{ user.firstName }} {{ user.lastName }}</h1>
<!-- Property Binding -->

<!-- <p [ngClass]="['feature', 'my-border']">Income : <span [innerHTML]="user.income"></span></p> -->
<!-- <p [ngClass]="{'feature' : true, 'my-border' : false}">Income : <span [innerHTML]="user.income"></span></p> -->
<p [ngClass]="myClasses" (mousedown) = "onToggleClass()"
  *ngIf = "user.isWorking;else ElseTemplate">
    Income : <span [innerHTML]="user.income"></span></p>


<p [ngStyle] = "myStyle">Date of Birth : {{ user.dob }}</p>



<!-- <p><ng-content select=".my-content"></ng-content></p> -->
<p>
  Total Votes : {{ user.votes }}
  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.votes" />
</p>


<ng-template #ElseTemplate>
  <p> Mr. {{user.lastName}} is not working now.</p>
</ng-template>
