<h2>HTML : User Component Loaded Successfully...</h2>

<div class="container">
  <ul class="list-unstyled list-group">
    <li class="list-group-item"
      *ngFor="let user of users; first as isFirst; last as isLast; even as isEven; odd as isOdd; index as i">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <!-- Is this First Element : {{ isFirst }}
          Is this Odd : {{ isOdd }}
          Index : {{ i }} -->
          <app-user-img [user]="user"
            (childEvent)="onMoreInfo($event)"></app-user-img>
        </div>
        <div class="col-sm-9 col-md-9">
          <app-user-info [user]="user">
            <header>This is the header</header>
            <main class="my-content">Main Contents</main>
            <footer>This is footer info</footer>
          </app-user-info>
        </div>
      </div>
    </li>
  </ul>
</div>
