<h2>HTML : User Component Loaded Successfully...</h2>

<div class="container">
  <ul class="list-unstyled list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <app-user-img [user]="user"
            (childEvent)="onMoreInfo($event)"></app-user-img>
        </div>
        <div class="col-sm-8 col-md-8">
          <app-user-info [user]="user">
            <header>This is the header</header>
            <main class="my-content">Main Contents</main>
            <footer>This is footer info</footer>
          </app-user-info>
        </div>
      </div>
    </li>
  </ul>
</div>
